<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="sqlite" connectionString="Data Source=factory.db;Version=3;"/>-->
    <add name="WorkShopConnectionString" connectionString="Data Source=202.117.48.158,1433;Initial Catalog=WorkShop;User ID=sa;Password=rise2018@" providerName="System.Data.SqlClient"/>
    <!--<add name="WorkShopConnectionString" connectionString="server=192.168.10.34,1433;database=WorkShop;Trusted_Connection=SSPI"/>-->
    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
